center{
	font-size:50px;
	font-family:Brush Script Std;
	color:green.
}
p{
	font-size:40px;
	font-family:Harrington;
}
body{
	background-image:url(BO_X-parques-en-La-Paz-que-puedes-disfrutar-en-tus-ratos-libres-.jpg);
	background-attachment:fixed;
}